body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0px;
}
h2{
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0px;
}
p{
    color: #3E3E3E;;
}
section{
    height: 600px;
}
.navbar{
    text-align: right;
    padding-top: 15px;
    padding-right: 100px;
    height: 80px;
    
}
.navbar a{
    padding-right: 50px;
    text-decoration: none;
    color: rgb(4, 4, 39);
    font-size: 18px;
    font-weight: 700;
}
.blue-highlighted-text{
   color: #363958; 
}
.orange-highlighted-text{
    color: #FF8367;
}
.half-part{
  width: 35%;
  float: left;
  margin-left: 5%;
  padding-left: 5%;
}
.half-part img{
    width: 80%;
}
.half-part p{
    padding-bottom: 40px;
}
.link-button{
    text-decoration: none;
    padding: 17px 40px;
    background-image: linear-gradient(10deg,rgb(255, 127, 88),rgb(255, 76, 44));
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
}
.working-experience{
    background-color:rgb(244, 252, 255);
    height: 800PX;
}
.position{
    padding-top: 120px;
    text-align: center;
    padding-bottom: 80px;
}
.one-third-width{
    width: 29%;
    float: left;
    margin-left: 2%;

}
.single{
padding: 1%;
box-shadow: 5px 5px 10px gainsboro;
}

.one-third-width img{
    width: 100%;
}
#project1{
    background-color: white;
    border-radius: 15px;
}
#project2{
    background-color:white;
    border-radius: 15px;
}
#project3{
    background-color: white;
    border-radius: 15px;
}
.center{
    width: 80%;
    height: 500px;
    margin: auto;
}
.chat{
    width: 50%;
    padding-top: 100px;
    background-image:url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    height: 400px;
    background-position:center;
}
#work-inqury{
margin-top: 90px;
color: white;
}

#chat-btn{
  margin-top: 150px;
  text-align: right;
}
h5{
    color: #696871;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 15px;
}
h4{
    font-size: 36px;
    margin: 0px;
}
.footer{
    text-align: center;
    height: 200px;
}
.footer img{
    padding-top: 15px;
    width: 40px;
    padding-left: 10px;
}
.gradient-text{
    float: left;
    font-size: 16px;
    padding: 20px;
    font-weight: 700;
    margin-left: 5px;
    border: solid 2px slateblue;
    border-radius: 5px;
    text-align: center;
    background: -webkit-linear-gradient(10deg,rgb(52, 105, 250),rgb(75, 10, 95));
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: gray;
}